.hero-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero-image img {
    border-radius: 16px;
}

.hero-info {
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.75),
        rgba(0,0,0,0)
    );

    margin-top: -180px;
    padding: 30px;
    position: relative;
    color: white;
    border-radius: 0 0 16px 16px;
}

.hero-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-meta {
    color: #bbbbbb;
    margin-bottom: 18px;
    font-size: 16px;
}

.hero-overview {
    line-height: 1.7;
    font-size: 16px;
    max-width: 70%;
}